.card-wrapper {
    width: 33%;
    list-style: none;
}

.card {
    padding: 10px;
}

.card-inlineInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-title {
    text-transform: uppercase;
    font-weight: 600;
}

.card-releaseYear {
    border: 1px solid grey;
    font-size: 13px;
    padding: 2px;
    margin-bottom: auto;
}

.card-posterImage {
    width: 100%;
    padding-bottom: 10px
}

.card-genre {
    color: grey;
    font-size: 13px;
}