.film-wrapper {
    display: flex;
    background: url('film-bg.jpg');
    min-height: 100vh;
    color: #fff;
    line-height: 21px;
}

.film-inner {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.film-header {
    display: flex;
    align-items: center;
}

.film-tagline {
    margin: 5px 0 10px 0;
}

.film-rating {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 100px;
    margin: 0 10px;
}

.film-title {
    text-transform: uppercase;
    font-size: 20px;
}

.film-content {
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.film-info {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    line-height: 21px;
}

.film-image {
    max-width: 300px;
}